In [1]:
import pandas as pd
import numpy as np

# Wage Schedule Estimation
In this notebook, we seek to to inform our wage schedule assumption with data on wages, prices, labor inputs, and productivity, all at the sector level from the BLS. We do not seek to estimate any causal effects, only to get a sense for a realistic assumption about how wages adjust in response to productivity shocks. We view this as key because how wages adjusts informs whether labor markets amplify or dampen the effects of shocks in our model and the scale of any potential amplification or dampening.

Setting up sector names and corresponding NAICs 2-digit codes.

In [6]:
short_names = ['mining', 'trans', 'const', 'dur', 'nondur',
                'trade', 'info', 'fin','profserv', 'edhealth',
                'accom', 'other', 'gov']
sector_names = ['Mining', 'Transportation and Utilities', 'Construction',
                'Durable goods', 'Nondurable good', 'Wholesale and Retail trade',
                'Information', 'Financial Activities', 'Professional and business services',
                'Education and Health Services', 'Leisure  and Hospitality',
                'Other services, except government','Government']
sector_codes = ['21', ['22', '48TW'] ,'23', '33DG', ['31ND','11'], ['42', '44RT'],
                    '51', ['52', '53'], ['54','55','56'],['61','62'], ['71','72'],
                    '81','G']

Reading in Data.

In [5]:
data_path = '../data/'
dfRaw = pd.read_csv(data_path + 'update_raw/labor_costs_productivity_table.csv')
dfRaw.head()

,NAICS Code,Variable,Series ID,1987,1988,1989,1990,1991,1992,1993,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,11,Total factor productivity,MPU0011012,76.062,70.265,74.219,78.123,78.715,84.065,79.480,...,100.000,107.849,107.023,109.801,113.285,111.869,112.986,109.420,111.144,105.184
1,11,Labor input,MPU0011052,112.340,112.622,113.361,107.532,107.643,106.950,104.682,...,100.000,95.882,101.308,109.364,111.561,110.231,109.312,110.721,110.240,108.710
2,11,Labor productivity,MPU0011062,62.592,60.048,62.753,68.961,69.797,74.117,74.314,...,100.000,113.743,106.450,99.612,103.343,104.563,104.592,101.478,112.552,106.919
3,11,"Labor costs, billions of current dollars",MPU0011631,28.456,31.415,32.298,38.654,34.400,35.813,38.236,...,59.443,62.473,60.646,59.358,61.011,63.025,61.514,62.159,68.880,69.683
4,21,Total factor productivity,MPU0021012,79.918,85.624,84.144,83.389,84.452,84.703,86.041,...,100.000,103.303,109.054,114.902,115.530,120.323,120.417,127.210,131.464,126.469

Aggregating to 13 sector level for consistency with other variables in the paper.